*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #5E5E5E;
  color: #fff;
}
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100vh;
  min-height: 45px;
  position: relative;
  box-sizing: border-box;
  display: none;
}

.carousel-slide.active {
  opacity: 1;
  display: block;
}

.carousel-image {
  width: 700px;
  height: 400px;
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}
.carousel-contenedor {
  position: relative;
  width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
  overflow: hidden;
  justify-content: center;
}
/* Navbar */
.navbar {
  background-color: #BA9D79;
  padding: 20px;
  overflow: hidden;
  font-size: 20px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-decoration:  none !important;

}
.navbar li {
  margin: 0 15px;
  color: #fff;
  font-size: 50px;
}

.navbar a:hover {
  text-decoration: underline;
}
